# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Other gradle
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode

### IntelliJ IDEA ###
.idea
